---
permalink: /404
layout: default
---

<div class="container">
  <div class="content">
    <div class="card">
      <h1>404</h1>
      <br/>
      <p><strong>Page not found :(</strong></p>
    </div>
  </div>
</div>
