<a class="btn-main btn-slim" href="{{ include.href }}" data-micromodal-trigger="{{ include.modal }}" %}
>
    <div class="btn-split">
        <div class="btn-logo">
            <img class="btn-android" src="{{ site.baseurl}}/assets/images/btr-android.svg">
        </div>
        <div class="btn-text">
            <span class="button-main-text">{% t include.main_cta %}</span><br>
            <span class="button-sub-text">{% t include.sub_cta %}</span>
        </div>
    </div>
</a>