<div id="{{ include.id }}" class="filerow template">
    <a href="{{ include.href }}" download="{{ include.file_name }}" class="logo-filerow">
        <img src="{{ site.baseurl}}/assets/images/{{ include.icon_filename }}" alt="file extension icon">
    </a>
    <a href="{{ include.href }}"  download="{{ include.file_name }}" class="text-filerow">
        <div class="upper-text">{{ include.display_name }}</div>
        <div class="lower-text">{{ include.file_name }}</div>
    </a>
    <a href="{{ include.href }}" download="{{ include.file_name }}">
        <div class="empty-block">
            <img src="{{ site.baseurl}}/assets/images/download-icon.svg" alt="download">
        </div>
    </a>
</div>