<header class="header">
  <div class="header-container">
    <img src="{{ site.baseurl }}/assets/images/butter-app-icon-large.svg" alt="Paddy, the Butter Box Mascot" class="header-image" />
    <div class="title">{% t site_name %}</div>
    <a class="language-selector" href="#" data-micromodal-trigger="language-selector-modal">
      <img src="{{ site.baseurl }}/assets/images/globe.svg" alt="language selector icon"/>
      <span class="language-code">{{ site.lang | upcase }}</span>
      <img src="{{ site.baseurl }}/assets/images/caret-down.svg"/>
    </a>
  </div>
</header>

{% include language-selector.html %}
