<div class="modal micromodal-slide" id="language-selector-modal" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container language-selector-container" role="dialog" aria-modal="true" aria-labelledby="product-modal-title">
            <main class="modal__content" id="product-modal-content">
                <div class="modal__content__header">
                    <div class="header__text">
                        <h2 class="modal__title ls-40" id="product-modal-title">{% t language_prompt %}</h2>
                    </div>
                </div>
                <div class="modal__content__description">
                    {% for lang in site.languages %}
                    {% if forloop.index0 == 0 %}
                    <a class="language-selection" href="{{ page.url | relative_url }}">
                        <input type="radio" id="{{ lang }}" onclick="location.href='{{ page.url | relative_url }}'" name="language" value="{{ lang }}" {% if site.lang == lang %}checked{% endif %}>
                        <label for="{{ lang }}" onclick="location.href='{{ page.url | relative_url }}'">{{ site.data.home.language_selector[lang] }}</label>
                    </a href="">
                    {% else %}
                    <a class="language-selection" href="{{ lang + page.url | relative_url }}">
                        <input type="radio" id="{{ lang }}" onclick="location.href='{{ lang + page.url | relative_url }}'" name="language" value="{{ lang }}" {% if site.lang == lang %}checked{% endif %}>
                        <label for="{{ lang }}" onclick="location.href='{{ lang + page.url | relative_url }}'">{{ site.data.home.language_selector[lang] }}</label>
                    </a href="">
                    {% endif %}
                  {% endfor %}
                </div>
            </main>
        </div>
    </div>
</div>