<div class="modal micromodal-slide" id="product-modal" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="product-modal-title">
            <main class="modal__content" id="product-modal-content">
                <div class="modal__content__header">
                    <div class="header__text">
                        <h2 class="modal__title ls-40" id="product-modal-title">{% t sideloading_modal.heading %}</h2>
                    </div>
                </div>
                <div class="modal__content__description">
                    {% for paragraph in site.translations[site.lang].sideloading_modal.paragraphs %}
                    <p class="modal__text ls-40">
                        {{ paragraph }}
                    </p>
                    {% endfor %}
                </div>
                <a class="modal__close" aria-label="Close modal" data-micromodal-close>
                    {% t sideloading_modal.go_back %}
                </a>
                <hr style="color: #00000033">
                <a class="modal__close modal__continue"
                    onclick="MicroModal.close(); window.location='{{ site.baseurl }}/assets/download/butter.apk'"
                    aria-label="Download App Store">
                    {% t sideloading_modal.confirm %}
                </a>
            </main>
        </div>
    </div>
</div>