// -------------------------
// Body Styles
// -------------------------
body {
  background-color: #F9F9F9;
  min-height: 100vh;
}


// -------------------------
// Link Styles
// -------------------------
a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: black;
}

a:active {
  text-decoration: underline;
  color: black;
}

.darklink:link {
  color: grey;
}
.darklink:hover {
  color: grey;
}
.darklink:active {
  color: grey;
}


// -------------------------
// Content Styles
// -------------------------
.container {
  width: 100%;
  max-width: 1144px;
  margin: 0 auto;
}

.header {
  height: 48px;
  // center content vertically
  display: flex;
  align-items: center;
  justify-content: center;

  .header-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 920px;
    padding: 0 20px;
  }

  .title {
    text-align: left;
    font-size: 14;
    font-weight: 600;
    margin: auto;
    width: -webkit-fill-available;
  }
  
  .language-selector {
    align-items: center;
    background-color: #F4F3F2;
    border-radius: 16px;
    display: flex;
    height: 32px;
    padding: 0 10px;
  }
  .language-selector:hover {
    cursor: pointer;
    text-decoration: none;
  }

  .language-code {
    margin: 0 8px;
  }
}

.header-content {
  position: relative;
}

.header-image {
  height: 28px;
  width: 28px;
  margin-right: 20px;
}

.header-title {
  font-size: 1.5em;
  color: #333;
  margin: 20px 0;
  font-weight: bold;
}

.language-selector-container {
  h2.modal__title {
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0;
  }
  min-width: 300px;
}

.language-selection {
  align-items: center;
  display: flex;
  margin: 15px 0px;
  input[type="radio"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #9B9A98;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
  }

  input[type="radio"]::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #333; /* Change this to your desired color */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  label {
    font-size: 16px;
    margin-left: 20px;
    cursor: pointer;
  }
}
.language-selection:hover {
  text-decoration: none;
}

.content {
  padding: 20px;
}

.card-set {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Default to 2 columns */
  gap: 10px; /* Adjust the gap between the cards */
}

@media (min-width: 900px) {
  .card-set {
    grid-template-columns: repeat(4, 1fr); /* 4 columns for larger screens */
  }
  .drippy {
    display: block;
    width: 90px;
    margin-left: auto;
    margin-right: auto;
  }
  h1.homepage-title {
    text-align: center;
  }
}
@media (max-width: 900px) {
  .drippy {
    display: none;
  }
  .homepage-subtitle {
    display: none;
  }
}

h1.homepage-title {
  margin: 30px 0;
}
.homepage-subtitle {
  color: #9b9a98;
  font-size: 16px;
  font-weight: 400;
  margin: 0 auto 50px auto;
  max-width: 340px;
  text-align: center;
}

.card {
  align-items: center;
  background-color: white;
  border: 1px solid #E1E1DE;
  border-radius: 10px;
  color: #333;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  height: 160px;
  justify-content: center;
  margin: 10px 0;
  padding: 20px;
  text-align: center;
}
.card:hover {
  cursor: pointer;
  text-decoration: none;
}

// Apply/Remove this class to conditionally 
// display the card using main.js
.hidden-card {
  display: none;
}

// Generic hidden class
.hidden {
  display: none;
}

.card-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  object-fit: cover;
}

// --------------------------------
// Informational Layout Styles
// --------------------------------

.top-nav {
  max-width: 860px;
  width: -webkit-fill-available;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.informational-container {
  flex: 1;
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
  padding: 0 20px;
  img.hero {
    width: 100%;
  }
  img.app-tile {
    width: 66px;
    height: 66px;
    // center within container
    display: block;
    margin: auto;
    // float higher to overlap previous element
    position: relative;
    top: -33px;
  }
  h1 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
  }
  p.subtitle {
    color: #9B9A98;
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto 10px auto;
    max-width: 340px;
    text-align: center;
  }
  .step-label {
    background-color: #F4F3F2;
    border-radius: 6px;
    color: #787776;
    font-size: 12px;
    margin: 40px auto 0 auto;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 600;
    width: fit-content;
  }
  h2 {
    font-size: 18px;
    font-weight: 700;
    margin: 30px 0 15px 0;
    text-align: center;
  }
  p.informational-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin: 10px 0;
  }
  .filelist {
    background-color: white;
    border-radius: 20px;
    margin-top: 40px;
  }
  .btn-container {
    width: fit-content;
    margin: 30px auto;
  }
  .btn-secondary {
    background-color: #F4F3F2;
    border-radius: 26px;
    height: 52px;
    width: fit-content;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 600;
    margin: 0 auto;
    // center text vertically
    display: flex;
    align-items: center;
  }
}

.push-footer {
  font-size: 12px;
  text-align: center;
  margin: 20px 0;
  padding: 0 10px;
  width: 100%;
}

// ----------------------------------
// Copied from butter-dir-listing.css
// ----------------------------------

.breadcrumb-name {
  display: flex;
  align-items: center;
  height: 48px;
  font-size: 18px;
  a {
      display: flex;
      align-items: center;
      height: -webkit-fill-available;
      padding: 0 10px;
  }
  img.back {
      width: 18px;
      height: 18px;
      margin-left: 10px;
      margin-right: 10px;
  }
}

.filerow {
  display: flex;
  align-items: center;
  height: 44px;
  margin: 10px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.filerow.template {
  display: none;
}

.logo-filerow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}

.logo-filerow img {
  width: 32px;
  height: 32px;
}

.text-filerow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding: 0 10px;
  box-sizing: border-box;
}

.text-filerow .upper-text {
  font-size: 16px;
  line-height: 18px;
  padding: 2px;
  color: black;
}

.text-filerow .lower-text {
  font-size: 12px;
  padding: 2px;
  color: gray;
}

.dl-block {
  width: 30px;
  height: 30px;
}

// -------------------------
// Button Styles
// -------------------------

.btn-android {
  margin: 15px 15px 15px 0px;
  height: 30px;
  width: auto;
}

// -------------------------
// Footer Styles
// -------------------------
.footer-area {
  font-family: $footer-font-family;
  padding: 35px 0;
}

// -------------------------
// Slider Styles
// -------------------------
.slick-arrow {
  background: $royal-blue;
  border-radius: 50%;
  color: $white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  font-size: 34px;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  transition: all .3s ease;
  z-index: 1;
  &:hover {
    background-color: lighten($royal-blue, 5%);
  }
  @media (max-width: 768px) {
    width: 50px;
    height: 50px;
    margin-top: -25px;
  }
}
.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
}
