/* Based on the default lighttpd styles, this butters up the UI */

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

body>h2 {
    /* Hide the builtin title "Index of /this/that */
    display: none;
}

div.list {
    /* Hide the builtin listing, we're going to render our own. */
    display: none;
}

div.foot {
    /* No need to display the lighttpd version; this is user-facing. */
    display: none;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    height: 54px;
    a {
        height: -webkit-fill-available;
    }
    .home-icon {
        padding-left: 12px;
    }
    .path-next {
        margin: 0 10px 2px 10px;
        height: 12px;
        rotate: 180deg;
    }
}

.crumb {
    align-items: center;
    color: black;
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.breadcrumb-name {
    display: flex;
    align-items: center;
    height: 48px;
    font-size: 18px;
    a {
        display: flex;
        align-items: center;
        height: -webkit-fill-available;
        padding: 0 10px;
    }
    img.back {
        width: 18px;
        height: 18px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

h2 {
    font-size: 18px;
    font-weight: 500;
    margin: 10px;
}

hr {
    border: none;
    border-top: 1px solid #E6E6E4;
    margin: 20px 10px;
}

hr.full-width {
    margin: 0;
}

.filerow {
    display: flex;
    align-items: center;
    height: 44px;
    margin: 10px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.logo-filerow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
}

.logo-filerow img {
    width: 32px;
    height: 32px;
}

.text-filerow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding: 0 10px;
    box-sizing: border-box;
}

.text-filerow .upper-text {
    font-size: 16px;
    line-height: 18px;
    padding: 2px;
    color: black;
}

.text-filerow .lower-text {
    font-size: 12px;
    padding: 2px;
    color: gray;
}

.dl-block {
    width: 30px;
    height: 30px;
}