---
layout: informational
breadcrumb: "Offline Maps"
custom_scripts: ["maps.js", "butter-dir-listing.js"]
---

<img src="{{ site.baseurl }}/assets/images/maps-header.png" alt="Maps Header" class="hero">
<img src="{{ site.baseurl }}/assets/images/osm-tile.png" alt="OpenStreetMaps Tile" class="app-tile">

<h1>{% t maps.title %}</h1>
<p class="subtitle">{% t maps.subtitle %}</p>

<p class="informational-text">{% t maps.summary %}</p>


<div class="step-label">{% t maps.sections.section1.step %}</div>
<h2>{% t maps.sections.section1.title %}</h2>
<div id="osm-dl-button" class="btn-container hidden">
    {% assign apk_url = site.baseurl | append: "/fdroid/repo/net.osmand.plus_471703.apk" %}
    {% include fancybutton.html main_cta="maps.main_cta" sub_cta="maps.sub_cta" href=apk_url %}
</div>

<div class="step-label">{% t maps.sections.section2.step %}</div>
<h2>{% t maps.sections.section2.title %}</h2>
<p class="informational-text">
    {% t maps.sections.section2.text %}
    <span class="bold">{% t maps.sections.section2.open_with_cta %}</span>
</p>

<div class="filelist">
    {% assign obf_url= site.basurl | append: "/fdroid/repo/" | append: "FILENAME" %}
    {% include filerow.html id="filerow-template" href=obf_url file_name="FILENAME" icon_filename="ext-pbf.svg" display_name="FILESTEM" %}
</div>