---
layout: informational
footer_content: |
    <a href="https://gitlab.com/guardianproject/wind-fdroidclient">
        The Butter App Store is built on F-Droid free software
    </a>
breadcrumb: "App Store"
---

<!-- Custom style= makes the image line up with the icon. -->
<img src="{{ site.baseurl }}/assets/images/app-store-top.png" alt="App Store icon samples" class="hero"
    style="max-width: 473px; display: block; margin: 0 auto;">
<img src="{{ site.baseurl }}/assets/images/butter-app-icon-large.svg" alt="Butter Tile" class="app-tile">

<h1>{% t apps.title %}</h1>
<p class="subtitle">{% t apps.subtitle %}</p>

<div class="btn-container">
    {% include fancybutton.html main_cta="apps.main_cta" sub_cta="apps.sub_cta" href="#" modal="product-modal" %}
</div>
{% include sideload.html %}

<a class="btn-secondary" href="{{ site.base_url }}/fdroid-webdash/">{% t apps.view_in_browser %}</a>
