// -------------------------
// Modal Styles
// -------------------------
.modal__overlay {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  margin: 10px;
  max-width: 500px;
  border-radius: 21px;
}

.header__text {
  margin: 0 20px;
  h2.modal__title {
    margin: 30px auto 20px auto;
    font-weight: 700;
    font-size: 24px;
    color: black;
    box-sizing: border-box;
    text-align: center;
  }
}

.modal__close {
  margin: 20px;
  cursor: pointer;
  background: transparent;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  display: block;
  border: 0;
}

.modal__continue {
  color: #6166E9;
}

.modal__content {
  margin-top: 2rem;
  line-height: 1.5;
  @media (max-width: 768px) {
    margin-top: 1rem;
  }
}

.modal__content__description {
  margin: 0 20px;
  p {
    font-family: $text-font-family;
    font-size: 16px;
    margin: 20px 0;
  }
}

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}
