---
layout: basic
---

<div class="top-nav">
    {% include breadcrumb.html page_name=page.breadcrumb %}
</div>

<div class="informational-container">
    {{ content }}
</div>

{% include footer.html footer_content=page.footer_content %}